body > * {
	width: 1000px;
}

body {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas:
		"logo navi navi navi navi"
		"main main main main side"
		"foot foot foot foot foot";
	gap: 1rem;
}

header h1 {
	grid-area: logo;
}

nav {
	grid-area: navi;
}
main {
	grid-area: main;
}
aside {
	grid-area: side;
}
footer {
	grid-area: foot;
	display: flex;
}
